{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>


<h1>Log In</h1>

    <form action='/login', method="post">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value='{{ request.form['username'] }}'>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
        </table>
        <input type="submit", value="Login">
        <div class="error"></div>
        <div>Don't have an account? <a href="/signup">Create Account</a></div>    
    </form>
    

{% endblock %}