{% extends "base.html" %}

{% block content %}


<h1>new post</h1>

<form action='/newpost', method="post">
    <label>
        <div>Title for Your New Post</div>
        <input type="text" name="blog_title" value="{{blog_title}}">
    </label>
    <br/>
    <span class="error" name='blog_title'>{{ title_error }}</span></p>

    <label>
        <div>Your New Post</div>
        <textarea type="text" name="blog_content" value="{{blog_content}}"></textarea>
    </label>
    <div class="error"></div>
	<input type="submit", value='New Post'>
    <br/>
    <span class="error" name='blog_content'>{{ newBlog_error }}</span></p>
    
</form>



{% endblock %}